body {
	font-family: 'Roboto', 'Oxygen', sans-serif;
}

.card {
	width: 300px;
}

.overflow {
	overflow: hidden;
}

.card-img-top {
	transition: all 0.7s ease-in-out;
}

.card-text {
	padding: 0.3rem 1rem;
}

@media (hover: hover) {
	.card:hover {
		box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.2);
		transition: all 0.7s linear;
	}
	.card-img-top:hover {
		transform: scale(1.8);
	}
}
